<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/poi-visualizer/src/main/java/de/kiwiwings/poi/visualizer/POIVisualizer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GDK_SCALE" value="3"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-9"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.kiwiwings.poi.visualizer.POIVisualizer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="poi-visualizer"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Duser.language=en&#10;-Duser.country=US&#10;-Djava9addmods=--add-modules=java.xml.bind&#10;-Djavadoc9addmods=--add-modules=java.xml.bind&#10;-Djava9addmodsvalue=-Dsun.reflect.debugModuleAccessChecks=true&#10;-Djava9addopens1=--add-opens=java.xml/com.sun.org.apache.xerces.internal.util=ALL-UNNAMED&#10;-Djava9addopens2=--add-opens=java.base/java.io=ALL-UNNAMED&#10;-Djava9addopens3=--add-opens=java.base/java.nio=ALL-UNNAMED&#10;-Djava9addopens4=--add-opens=java.base/java.lang=ALL-UNNAMED&#10;-Djava9addopens5=--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED&#10;-Djava9addopens6=--add-opens=java.base/java.util.zip=ALL-UNNAMED&#10;-Djava.locale.providers=JRE,CLDR&#10;-Dcoverage.enabled=true"/>
</launchConfiguration>
